**
!Dockerfile
!pyproject.toml
!uv.lock
!backend/
!backend/app/
!backend/app/**
!backend/default_config/
!backend/default_config/**
!web/
!web/package.json
!web/package-lock.json
!web/index.html
!web/*.js
!web/*.ts
!web/*.json
!web/src/
!web/src/**
!web/public/
!web/public/**
**/__pycache__/
**/*.pyc
